{% extends "base.html" %}
{% load form_filters %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg p-4" style="max-width: 600px; width: 100%; margin: 0 auto;">

        <form method="post" action="{% if reserva %}{% url 'editar_reserva' reserva.id %}{% else %}{% url 'cadastrar_reserva' %}{% endif %}">
            {% csrf_token %}
            <h2 class="text-center mb-4">
                {% if reserva %}Edição de Reserva{% else %}Cadastro de Reserva{% endif %}
            </h2>

            {{ form.non_field_errors }}

            <div class="mb-3">
                <label for="{{ form.cliente.id_for_label }}" class="form-label">Cliente</label>
                {{ form.cliente|add_class:"form-select" }}
                {{ form.cliente.errors }}
                <div class="form-text">
                    <a href="{% url 'cadastrar_cliente' %}?reserva=true">Cadastrar novo cliente</a>
                </div>
            </div>

            <div class="mb-3">
                <label for="{{ form.data_reserva_previsao_inicio.id_for_label }}" class="form-label">Data de Início</label>
                {{ form.data_reserva_previsao_inicio|add_class:"form-control" }}
                {{ form.data_reserva_previsao_inicio.errors }}
            </div>

            <div class="mb-3">
                <label for="{{ form.data_reserva_previsao_fim.id_for_label }}" class="form-label">Data de Fim</label>
                {{ form.data_reserva_previsao_fim|add_class:"form-control" }}
                {{ form.data_reserva_previsao_fim.errors }}
            </div>

            <div class="mb-3">
                <label for="{{ form.quarto.id_for_label }}" class="form-label">Quarto</label>
                {{ form.quarto|add_class:"form-select" }}
                {{ form.quarto.errors }}
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">
                    {% if reserva %}Salvar Alterações{% else %}Cadastrar{% endif %}
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
