{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
  <h1 class="text-center my-4">{{ nome_relatorio }}</h1>

  <div class="row justify-content-center">
    <div class="col-md-13 text-center">
      <div class="d-grid gap-3">
        <table class="table table-striped table-bordered text-center custom-table">
          <thead class="text-white">
            <tr>
              <th>ID</th>
              <th>Cliente</th>
              <th>Quarto</th>
              <th>Status</th>
              <th>Tarifa</th>
              <th>Data de Criação</th>
              <th>Data de Início</th>
              <th>Data de Fim</th>
              <th>Data de Check-in</th>
              <th>Data de Check-out</th>
            </tr>
          </thead>
          <tbody class="text-dark">
            {% for reserva in reservas %}
            <tr>
              <td>{{ reserva.id }}</td>
              <td><a href="{% url 'editar_cliente' reserva.cliente_id%}?callback=reservas">{{ reserva.cliente }}</a>
              </td>
              <td>{{ reserva.quarto }}</td>
              <td>
                {% if reserva.status_reserva.nome_status_reserva == 'Cancelada' %}
                {{ reserva.status_reserva }} em {{ reserva.data_cancelamento }}
                {% else %}
                {{ reserva.status_reserva }}
                {% endif %}
              </td>
              <td>{{ reserva.tarifa_tipo_quarto }}</td>
              <td>{{ reserva.data_reserva_criada }}</td>
              <td>{{ reserva.data_reserva_previsao_inicio }}</td>
              <td>{{ reserva.data_reserva_previsao_fim }}</td>
              <td>
                {% if reserva.data_check_in %}
                {{ reserva.data_check_in }}
                {% endif %}
              </td>
              <td>
                {% if reserva.data_check_out %}
                {{ reserva.data_check_out }}
                {% endif %}
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="13">Nenhuma reserva encontrada.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<style>
    thead {
        background-color: #356086;
    }
    th a {
        text-decoration: none;
        color: white;
    }
    th a:hover {
        color: #fca464;
    }
    .btn-search {
        color: white;
        background-color: #5b80a4;
        margin: 20px 0;
    }
    .btn-add{
        color: white;
        background-color: #ed7c3b;
        margin-top: 20px;
    }
    .btn-edit {
        color: white;
        background-color: #5b80a4;
    }
</style>
{% endblock %}