{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg p-4" style="max-width: 500px; width: 100%; margin: 0 auto;">

        <form method="post" action="{% if funcionario %}{% url 'editar_funcionario' funcionario.id %}{% else %}{% url 'cadastrar_funcionario' %}{% endif %}">
            {% csrf_token %}
            <h1 class="text-center mb-4">
                {% if funcionario %}Edição de Funcionário{% else %}Cadastro de Funcionário{% endif %}
            </h1>
        
            {{ form.non_field_errors }}
        
            <div class="mb-3">
                {{ form.nome.label_tag }}
                {{ form.nome }}
                {{ form.nome.errors }}
            </div>
        
            <div class="mb-3">
                {{ form.username.label_tag }}
                {{ form.username }}
                {{ form.username.errors }}
            </div>
        
            <div class="mb-3">
                {{ form.senha.label_tag }}
                {{ form.senha }}
                {{ form.senha.errors }}
            </div>
        
            <div class="mb-3 form-check">
                {{ form.administrador }}
                {{ form.administrador.label_tag }}
                {{ form.administrador.errors }}
            </div>
        
            <div class="d-grid gap-2">
                <input type="submit" class="btn btn-add" value="{% if funcionario %}Salvar Alterações{% else %}Cadastrar{% endif %}">
            </div>
        </form>        

    </div>
</div>
<style>
    .btn-add {
        color: white;
        background-color: #ed7c3b;
    }
</style>
{% endblock content %}

