{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg p-4" style="max-width: 500px; width: 100%; margin: 0 auto;">
        <form method="post" action="{% if tipo_quarto %}{% url 'editar_tipo_quarto' tipo_quarto.id %}{% else %}{% url 'cadastrar_tipo_quarto' %}{% endif %}">
            {% csrf_token %}
            <h1 class="text-center mb-4">
                {% if tipo_quarto %}Edição de Tipo de Quarto{% else %}Cadastro de Tipo de Quarto{% endif %}
            </h1>

            {{ form.non_field_errors }}

            <div class="mb-3">
                {{ form.nome_tipo_quarto.label_tag }}
                {{ form.nome_tipo_quarto }}
                {{ form.nome_tipo_quarto.errors }}
            </div>

            <div class="d-grid gap-2">
                <input type="submit" class="btn btn-add" value="{% if tipo_quarto %}Salvar Alterações{% else %}Cadastrar{% endif %}">
            </div>
        </form>
    </div>
</div>
<style>
    .d-grid {
        margin-top: 50px;
    }
    .btn-add {
        color: white;
        background-color: #ed7c3b;
    }
</style>
{% endblock content %}
